{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'cart/cart.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block body %}
<div class="box">
    <h3 class="cart_title">Purchase Completed</h3>
    <p>Thank you for your order if you want to see all your orders please visit <a href="{% url 'dashboard' %}">Dashboard</a></p>
</div>
<div class="cart">
    <div class="box">
        <div class="cartitems">
            {% for i in orderproducts %}
                <div class="cartitem" style="height: auto;max-height: initial;">
                    <img src="{{ i.account.account_img.url }}">
                    <div class="item_info_1">
                        <p>{{ i.account.title}}</p>
                        <div class="purchase_info">
                            <p><strong>Price:</strong>{{ i.account.price }}$</p>
                            <p><strong>Platform:</strong>{{ i.account.platform }}</p>
                            <h3>Account Credintials</h3>
                            <p><strong>Email:</strong>{{ i.account.email }}</p>
                            <p><strong>Passowrd:</strong>{{ i.account.password }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="checkout">
            <p><strong>Total price:</strong> {{ Total_price }}$</p>
            <p><strong>Tax:</strong> {{ tax }}$</p>
            <p><strong>Grand Total:</strong> {{ Grand_total }}$</p>
            <img src="../../../media/images/payments.png">
            {% if count > 0 %}
                <a class="btn btn-primary" href="{% url 'checkout' %}">Check out</a>
            {% endif %}
            <a class="continue-shopping" href="{% url 'accounts' option='allaccounts' %}">Continue Shopping</a>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="display: none;" id="tgg_bttn_1" data-bs-toggle="modal" data-bs-target="#exampleModal">
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rate the buyers</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       <!-- Scrollable modal -->
       {% if seller_len > 0 %}
            <form action="{% url 'order_completed' order_number=order.order_number %}" method="POST" class="review_form">
                {% csrf_token %}
                <div>
                    <div class="buyer_info_rate">
                        {% if sellers.0.avatar %}
                            <img src="{{ sellers.0.avatar.url}}">
                        {% else %}
                            <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png">
                        {% endif %}
                        <p>{{ sellers.0.username}}</p>
                    </div>
                    <!-- Rating stars -->
                    <div class="rate">
                        <input type="radio" name="rating" id="rating10" value="5-{{sellers.0.pk}}" required /><label for="rating10" title="5"></label>
                        <input type="radio" name="rating" id="rating9" value="4.5-{{sellers.0.pk}}" required /><label for="rating9" title="4.5" class="half"></label>
                        <input type="radio" name="rating" id="rating8" value="4-{{sellers.0.pk}}" required /><label for="rating8" title="4"></label>
                        <input type="radio" name="rating" id="rating7" value="3.5-{{sellers.0.pk}}" required /><label for="rating7" title="3.5" class="half"></label>
                        <input type="radio" name="rating" id="rating6" value="3-{{sellers.0.pk}}" required /><label for="rating6" title="3"></label>
                        <input type="radio" name="rating" id="rating5" value="2.5-{{sellers.0.pk}}" required /><label for="rating5" title="2.5" class="half"></label>
                        <input type="radio" name="rating" id="rating4" value="2-{{sellers.0.pk}}" required /><label for="rating4" title="2"></label>
                        <input type="radio" name="rating" id="rating3" value="1.5-{{sellers.0.pk}}" required /><label for="rating3" title="1.5" class="half"></label>
                        <input type="radio" name="rating" id="rating2" value="1-{{sellers.0.pk}}" required /><label for="rating2" title="1"></label>
                        <input type="radio" name="rating" id="rating1" value="0.5-{{sellers.0.pk}}" required /><label for="rating1" title="0.5" class="half"></label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
       {% endif %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if({{seller_len}} > 0) {
            bttn = document.getElementById('tgg_bttn_1').click()
        }
    })

</script>
{% endblock %}