container_commands:
 01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from User_Accounts.models import User; User.objects.create_superuser('youssef', 'kotb', 'youssefkotb2006gmail.com', 'yk', 'yk', '0122006')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: AccountsForSale.settings