{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
{% endblock %}
{% block body %}
<div class="login">
    <div class="box">
        <h3 class="login_title">Create an Account</h3>
        <form class="login_form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <label>First Name: </label>
            {{ form.first_name }}
            <label>Last Name: </label>
            {{ form.last_name }}
            <label>Email: </label>
            {{ form.email }}
            <label>Phone Number: </label>
            {{ form.phone_number }}
            <label>Password: </label>
            {{ form.password }}
            <label>Confirm Password: </label>
            {{ form.confirm_password }}
            <input type="submit" placeholder="create account">
        </form>
        <a class="account_url" href="{% url 'login_view' %}">Already have an account</a>
        {{ form.email.errors }}
        {{ form.non_field_errors }}
    </div>
</div>
{% endblock %}