{% extends 'base.html' %}
{% load static %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
{% endblock %}
{% block body %}
    <div class="login">
        <div class="box">
            <h3 class="login_title">Reset your password</h3>
            <form class="login_form" method="post" action="{% url 'resetpassword_form' %}">
                {% csrf_token %}
                <label>New Password: </label>
                <input class="form-control" type="text" placeholder="Enter your Email" name="password">
                <label>Confirm Pssword: </label>
                <input class="form-control" type="text" placeholder="Enter your Email" name="confirm">
                <input type="submit">
            </form>
            <a href="{% url 'login_view' %}">Got password</a>
        </div>
    </div>
{% endblock %}